# Cross Device Users

### Introduction

We have two tables. One table has all mobile actions, i.e. all pages visited by the users on mobile. The other table has all web actions, i.e. all pages visited on web by the users.

## Loading our Data

In [49]:
import pandas as pd

In [51]:
mobile_users = pd.read_csv('./query/unique_mobile.csv')
web_users = pd.read_csv('./query/unique_web.csv')

Currently, we have a list of unique mobile users.

In [1]:
import sqlite3
conn = sqlite3.connect('users.db')

mobile_users.to_sql('mobile_users', conn, index = False, if_exists = 'replace')
web_users.to_sql('web_users', conn, index = False, if_exists = 'replace')

### Exploring our Data

In our database we have a unique list of `web_users` and a unique list of `mobile_users` in those respective tables.

In [52]:
pd.read_sql("select * from web_users limit 3", conn)

   user_id
0     1210
1     1275
2     1283

In [53]:
pd.read_sql("select * from mobile_users limit 3", conn)

   user_id
0      128
1     1324
2     1343

### Finding Web Only

Use an outer join to find the percentage of *web users* who are not mobile users.

> You should find that 23% of the web users are not mobile users.

> **Hint**: to display the calculation, multiply the percentage by 100.

In [37]:
query = """select 
100*sum(case when mobile_users.user_id is null then 1 else 0 end)/count(*) as web_but_not_mobile
from web_users
left join mobile_users on mobile_users.user_id = web_users.user_id"""

pd.read_sql(query, conn)

# 	web_but_not_mobile
# 0	23

   web_but_not_mobile
0                  23

### Finding Mobile Only

Now find the percentage of mobile users who are not web users.  Try not to reference your above query in coming up with the solution.

> We should find that 37% of mobile users are not web users.

In [45]:
query = """
select 
100*sum(case when web_users.user_id is null then 1 else 0 end)/count(*) as mobile_not_web
from mobile_users left join web_users on mobile_users.user_id = web_users.user_id
"""

pd.read_sql(query, conn)

# 	mobile_not_web
# 0	37

   mobile_not_web
0              37

[subqueries](https://www.essentialsql.com/sql-subqueries/)