# Gaps Self Joins Lab

### Loading data

In [8]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('users.db')
url = "./simple_sequence.csv"
df = pd.read_csv(url)

In [9]:
df.to_sql('numbers', conn, index = True,
          index_label = 'id', if_exists = 'replace')

14

In [10]:
pd.read_sql("select * from numbers", conn)

    id  number
0    0       1
1    1       2
2    2       3
3    3       5
4    4       6
5    5       7
6    6       8
7    7       9
8    8      10
9    9      12
10  10      13
11  11      14
12  12      15
13  13      17

### Using self joins