# Custom Sorting

* https://www.codelabs365.com/sql-cookbook/sql-server/tsql-order-by-case-when-statement-with-multiple-columns/