# Active Users Problem

### Introduction

In this lesson we'll tackle the leetcode problem of active users.

### Loading the Data

In [6]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('users.db')
account_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/sql-advanced-joins/main/6-common-strategies/accounts.csv"
login_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/sql-advanced-joins/main/6-common-strategies/logins.csv"

account_df = pd.read_csv(account_url)
logins_df = pd.read_csv(login_url)

In [13]:
account_df.to_sql('accounts', conn, index = False, if_exists = 'replace')

logins_df.to_sql('logins', conn, index = False, if_exists = 'replace')

9

In [14]:
pd.read_sql('select * from accounts', conn)

   id      name
0   1   Winston
1   7  Jonathan

In [15]:
pd.read_sql('select * from logins limit 3', conn)

   account_id  login_date
0           7  2020-05-30
1           1  2020-05-30
2           7  2020-05-31

### Our problem

Active users are those who logged in to their accounts for five or more consecutive days.  Write a solution to find the id and the name of active users. Return the result table ordered by id.

The result format is in the following example.

> 7  | Jonathan

* Explanation

> User Winston with id = 1 logged in 2 times only in 2 different days, so, Winston is not an active user.

> User Jonathan with id = 7 logged in 7 times in 6 different days, five of them were consecutive days, so, Jonathan is an active user.

Ok, perform the query below.  Remember that we want to return the user who logged in on five or more consecutive days.

In [16]:
pd.read_sql('select * from logins limit 3', conn)

   account_id  login_date
0           7  2020-05-30
1           1  2020-05-30
2           7  2020-05-31

### Resources

[Active Users leetcode](https://leetcode.com/problems/active-users/)