# Advanced Joins Review Lab

### Introduction

In this lesson, we'll review some of the latest components that we learned about joins by tackling some leetcode problems.

> Warning: The below code will work in colab, but may not work locally.

In [ ]:
from time import process_time
start_time = process_time()
import subprocess
try:
    import google.colab # if colab exists, install pysqlite-binary
    subprocess.run(['pip', 'install', 'pysqlite3-binary'], capture_output=False)
    import pysqlite3 as sqlite3

except ModuleNotFoundError:
    pass
end_time = process_time()

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)
import pandas as pd

### Employees v managers

* Loading our data

In [5]:
import sqlite3
conn = sqlite3.connect('users.db')
employees_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/sql-advanced-joins/main/5-cross-joins/employees.csv"
employee_df = pd.read_csv(employees_url)
employee_df.to_sql('employees', conn, if_exists = 'replace')

4

Find all of the employees earning more than their manager

In [6]:
query = """

"""
pd.read_sql(query, conn)

# Employee
# 0	Joe

  Employee
0      Joe

[Employees earning more](https://leetcode.com/problems/employees-earning-more-than-their-managers/)

### Find the minimum distance

* Find the shortest distance between any two points from the Point table.

In [7]:
points_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/sql-advanced-joins/main/5-cross-joins/points.csv"
points_df = pd.read_csv(points_url, index_col = 0)
points_df.to_sql('points', conn, if_exists = 'replace')

3

In [8]:
pd.read_sql("""

""", conn)

# 	shortest
# 0	1

   shortest
0         1

> [Original leetcode](https://leetcode.com/problems/shortest-distance-in-a-line/)

* Employees with missing information

In [9]:
import pandas as pd
employee_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/sql-advanced-joins/main/5-cross-joins/employee.csv"
salary_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/sql-advanced-joins/main/5-cross-joins/salary.csv"
employee_df = pd.read_csv(employee_url)
employee_df.to_sql('employees', conn, if_exists = 'replace')
salary_df = pd.read_csv(salary_url)
salary_df.to_sql('salaries', conn, if_exists = 'replace')

3

In [11]:

query = """
"""

# pd.read_sql(query, conn)

# | employee_id |
# | ----------- |
# | 1           |
# | 2           |

[Original Leetcode](https://leetcode.com/problems/employees-with-missing-information/)

### Resources

[Leetcode Employees vs Managers](https://leetcode.com/problems/employees-earning-more-than-their-managers/editorial/)

[Employees with Missing info](https://leetcode.com/problems/employees-with-missing-information/)

[Shortest distance in a line](https://leetcode.com/problems/shortest-distance-in-a-line/editorial/)