In [2]:
def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

import pandas as pd
data = {"headers": ["personId", "firstName", "lastName"], "values": [[1, "Allen", "Wang"], [2, "Bob", "Sanders"]]}

In [8]:
person_df = build_dataframe(data)

In [9]:
person_df.to_csv('persons.csv', index = False)

In [10]:
person_df = pd.read_csv('./persons.csv')

In [11]:
person_df

   personId firstName lastName
0         1     Allen     Wang
1         2       Bob  Sanders