# Self Joins Lab

### Introduction

In this lesson, we'll work on

### Loading our data

In [3]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('users.db')

df = pd.read_csv('./weather_central_park.csv')
df = df.assign(id = df.index).iloc[:, :2]
df = df.rename(columns = {'maximum temperature': 'max_temp'})
df = df.drop(labels = [9, 13])

df.to_sql('temperatures', conn, index = True,
          index_label = 'id', if_exists = 'replace')

364

### A couple problems

* Begin by finding all of the months where the temperature decreased from month to month.  Use a self join to do so.

In [5]:
pd.read_sql("""select * from temperatures""", conn)

   id      date  max_temp
0   0  1-1-2016        42
1   1  2-1-2016        40
2   2  3-1-2016        45

* Finding gaps

Now it turns out that there are some gaps in our data.

In [95]:
temperature_df = pd.read_sql('select * from temperatures limit 7 offset 8', conn)
temperature_df

   id       date  max_temp
0   8   9-1-2016        47
1  10  11-1-2016        40
2  11  12-1-2016        44
3  12  13-1-2016        30
4  14  15-1-2016        51
5  15  16-1-2016        52
6  16  17-1-2016        42

We can see that we are missing days for 9, 12, and 13.  Find all of the ids that do not have a preceding date.

In [96]:
pd.read_sql("""select t1.id, t1.date t1_date, t2.date t2_date,
t1.max_temp t1_max_temp, t2.max_temp t2_max_temp
from temperatures t1 
left join temperatures t2 on t1.id = t2.id + 1 where t2_date is null""", conn)

# 	id	t1_date	t2_date	t1_max_temp	t2_max_temp
# 0	0	1-1-2016	None	42	None
# 1	10	11-1-2016	None	40	None
# 2	14	15-1-2016	None	51	None

   id    t1_date t2_date  t1_max_temp t2_max_temp
0   0   1-1-2016    None           42        None
1  10  11-1-2016    None           40        None
2  14  15-1-2016    None           51        None

### Resources

[Self-join reference](https://www.codelabs365.com/tags/self-join/)